@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thème global NOVAIRE */

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  background-color: #ffffff;
  color: #020617;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}